<!DOCTYPE html>
<htm lang="en-us">
<head>
    <title>Kanban Board</title>
    <meta charset="utf-8">
    <title>Kanban Board CS162</title>
    <link rel="stylesheet" text = "text/css" href = "../static/style.css">
</head>
<body>
<h1>Kanban Board</h1>
<p>Keep track of your small or big life goals and tasks!</p>

<form id="new_task_form" method="post" name="new_task_form" autocomplete="off">
    <div>
      <button type="submit" class = "main_button" name="button" value = "add_task">Add Task</button>

      <label for="name">Name: <span aria-label="required">*</span></label>
      <input id="name" type="text" name="task_name" maxlength = "15" required/>

      <label for="description", >Description:</label>
      <textarea id="description" name="task_description" maxlength = "50"></textarea>
    </div>
</form>

<table class="table">
    {% if not tasks %}
     <caption class = "table_caption"> Add your first task below! </caption>
    {% else %}
     <caption class = "table_caption"> Current tasks </caption>
    {% endif %}

    <thead>
        <tr>
            <th class="name">Name</th>
            <th class="status">Status</th>
            <th class="description">Description</th>
            <th class="remove">Remove</th>
        </tr>
    </thead>
        
    <tbody>
        {% for task in tasks %}
        <tr>
            <td> {{task.name}} </td>
            {% if task.status == "To-do"%}
              <td> 
                <form id="update_task_status_form" method = "post" name ="update_status"> 
                    <input type="hidden" name="task_id" value="{{task.id}}">
                    <button type="submit" class = "todo_status_button" name="button" value = "update_status" data-id="{{task.id}}">{{task.status}}</button>
                </form>
              </td>
            {% elif task.status == "In progress"%}
             <td> 
                <form id="update_task_status_form" method = "post" name ="update_status"> 
                    <input type="hidden" name="task_id" value="{{task.id}}">
                    <button type="submit" class = "progress_status_button" name="button" value = "update_status" data-id="{{task.id}}">{{task.status}}</button>
                </form>
             </td>
            {%else%} 
            <td> 
                <form id="update_task_status_form" method = "post" name ="update_status"> 
                    <input type="hidden" name="task_id" value="{{task.id}}">
                    <button type="submit" class = "completed_status_button" name="button" value = "update_status" data-id="{{task.id}}">{{task.status}}</button>
                </form>
             </td>
            {% endif %}

            <td>{{task.description}}</td>
            <td>
                <form id="delete_task_form" method = "post" name ="delete_task"> 
                    <input type="hidden" name="task_id" value="{{task.id}}">
                    <button type="submit" class = "delete_button" name="button" value = "delete_task" data-id="{{task.id}}">&#128465</button>
                </form>
            </td>
        </tr> 
        {% endfor %}
    </tbody>
</table>
</body>
</html>