/* CSS style for the main kanban board page */

.table td {
    text-align: center;
    vertical-align: middle;
    padding: 0 15px;
    align-self: center;
}

.table tr {
    text-align: center;
    vertical-align: middle;
}

h1 {
    text-align: center;
    background-color:orange;
}
.table th {
    /* width: 10%; */
    border-bottom:1px solid black;
}

.status {
    width: 15%;
}

.remove {
    width: 5%
}

.description {
    width: 400px;
}

.name {
    width: 120px;
}

table {
    width: 1000px;
}

.progress_status_button {
    background-color: rgb(255, 255, 255);
    color:rgb(34, 121, 234);
    text-align: center;
    border-radius: 4px;
    border-color: rgb(34, 121, 234);
    border-width: 1px;
}

.completed_status_button {
    background-color: rgb(255, 255, 255);
    color: rgb(104, 173, 0);
    text-align: center;
    border-radius: 4px;
    border-color: rgb(104, 173, 0);
    border-width: 1px;
}

.todo_status_button {
    background-color: rgb(255, 255, 255);
    color: orange;
    text-align: center;
    border-radius: 4px;
    border-color: orange;
    border-width: 1px;
}

.table_caption {
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}

.delete_button {
    background-color: rgb(255, 255, 255);
    color: rgb(174, 174, 174);
    text-align: center;
    border-radius: 1px;
    border-width: 1px;
}

textarea {
    height: 20px;
    width: 420px;
    resize: none;
}

p {
    color: orange;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}

.main_button {
    background-color: rgba(254, 165, 0, 0.232);
    color: orange;
    border-color: orange;
    border-radius: 8px;
    border-width: 2px;
    width: 100px;
    height: 60px;
    font-size: medium;
    font-weight: bold;
    padding: 4px;
}

/* CSS to make it look nicer from Flask Tutorial */
/* I adapted some of it for my website */
html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; padding: 60px;}
h1 { font-family: serif; color: #1c3e54; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }